@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Russo+One&display=swap");
body {
  font-family: "Bacasime Antique", serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #140f07;
  color: #f8e4f6;
}
body header nav {
  display: flex;
  height: 50px;
  background-color: #112b58;
}
body header nav div {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-weight: 900;
}
body section {
  display: flex;
  height: 100vh;
}
body section main.sobre {
  flex: 1.5;
  text-align: center;
  display: inherit;
  justify-content: center;
  align-items: center;
}
body section main.sobre h1 {
  justify-content: center;
  align-items: center;
  color: #f8e4f6;
  font-size: 2em;
  font-family: "Russo One", sans-serif;
  letter-spacing: 5px;
}
body section aside.criptos {
  background-color: #f8e4f6;
  color: #112b58;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
body section aside.criptos h2 {
  font-size: 2em;
}
body section aside.criptos div {
  width: 50%;
  display: initial;
  flex-direction: column;
}
body section aside.criptos div .moeda {
  box-sizing: border-box;
  padding: 0;
  width: calc(100% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body section aside.criptos div .moeda .nome span {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
body section aside.criptos div .moeda .img .coin-image {
  float: right;
  mix-blend-mode: multiply;
  width: 45px;
  height: 45px;
}
body article {
  color: #f8e4f6;
  z-index: 5;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 50px 0 0 0;
}
body article section {
  margin: 0 auto;
  display: block;
  flex: 1.5;
  height: 100%;
}
body article section h2 {
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 5px;
}
body article section #lista {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
body article section #lista .moedastotais {
  border-bottom: 2px solid #f8e4f6;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  width: calc(70% - 20px);
  margin: 0 auto;
}
body article section #lista .moedastotais .nome {
  position: relative;
  width: auto;
  width: 100%;
}
body article section #lista .moedastotais .nome span {
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}
body article section #lista .moedastotais .img {
  display: flex;
  align-items: center;
}
body article section #lista .moedastotais .img .coin-image {
  mix-blend-mode: multiply;
  width: 45px;
  height: 45px;
}
body article aside {
  flex: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}
body article aside h2 {
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}
body article aside p {
  text-align: center;
  padding: 5px;
}

/*# sourceMappingURL=paginainicial.css.map */
