@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Russo+One&display=swap');
$preto:#140f07;
$azulEscuro:#112b58;
$azul:#4760b8;
$azulClaro: #929dfb;
$branco:#f8e4f6;
body {
    font-family: 'Bacasime Antique', serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    background-color: $preto;
    color: $branco;
    header {
        nav {
            display: flex;
            height: 50px;
            background-color: $azulEscuro;
            div {
                display: inherit;
                justify-content: center;
                align-items: center;
                flex: 1;
                font-weight: 900;
            }
        }
    }
    section {
        display: flex;
        height: 100vh;
        main.sobre {
            flex: 1.5;
            text-align: center;
            display: inherit;
            justify-content: center;
            align-items: center;
            h1 {
                justify-content: center;
                align-items: center;
                color: $branco;
                font-size: 2em;
                font-family: 'Russo One', sans-serif;
                letter-spacing: 5px;
            }
        }
        aside.criptos {
            background-color: $branco;
            color: $azulEscuro;
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            h2 {
                font-size: 2em;
            }
            div {
                width: 50%;
                display: initial;
                flex-direction: column;
                .moeda {
                    box-sizing: border-box;
                    padding: 0;
                    width: calc(100% - 20px);
                    margin: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .nome {
                        span {
                            font-size: 1.5rem;
                            font-family: 'Courier New', Courier, monospace;
                        }
                    }
                    .img {
                        .coin-image {
                            float: right;
                            mix-blend-mode: multiply;
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    }
    article {
        color: $branco;
        z-index: 5;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 50px 0 0 0;
        section {
            margin: 0 auto;
            display: block;
            flex: 1.5;
            height: 100%;
            margin-bottom: 20px;
            #lista {
                position: relative;
                padding: 10px 0;
                display: flex;
                overflow-y: scroll;
                height: 500px;
                flex-direction: column;
                .moedastotais {
                    border-bottom: 2px solid $branco;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    padding: 10px;
                    width: calc(70% - 20px);
                    margin: 0 auto;
                    .nome {
                        position: relative;
                        width: auto;
                        width: 100%;
                        span {
                            font-weight: bold;
                            display: flex;
                        }
                        span:nth-child(2) {
                            font-size: .6em;
                            font-family: 'Courier New', Courier, monospace;
                            letter-spacing: 0px;
                        }
                    }
                    .img {
                        display: flex;
                        align-items: center;
                        .coin-image {
                            mix-blend-mode: multiply;
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }
        aside {
            flex: 2;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                text-align: center;
                padding: 5px;
            }
        }
    }
    main.grafico {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        canvas#myChart {
            width: 500px;
            height: 300px;
        }
    }
    footer {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: row;
        background-color: $azulEscuro;
        div {
            display: inherit;
            flex: 1;
            text-align: center;
            font-size: 0.6em;
            justify-content: center;
            flex-direction: column;
            ul {
                list-style-type: none;
            }
            li {
                font-weight: bold;
            }
            li:first-child {
                font-size: 1.5em;
                text-transform: uppercase;
            }
            a {
                text-decoration: none;
                display: block;
                color: $branco;
                &:hover {
                    color: $azulClaro;
                }
            }
        }
        div:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            i {
                font-size: 2em;
            }
        }
    }
}