@media screen and (max-width:720px) {
    body {
        header {
            nav {
                div:nth-child(1) {
                    flex: 1.5;
                }
            }
        }
        section {
            flex-direction: column;
            position: relative;
            aside.criptos {
                h2 {
                    margin: 0;
                    font-size: 1.6em;
                }
                div {
                    .moeda {
                        .nome {
                            span {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
        article {
            flex-direction: column;
            section.listagem,
            aside {
                width: 100%;
                margin-left: 0px;
            }
            aside {
                display: inherit;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        main.grafico {
            canvas#myChart {
                width: 80%;
                height: 300px;
            }
        }
        footer {
            flex-direction: column;
            div {
                ul {
                    padding: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}